In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [3]:
df.loc['a'] # 인덱스를 하나만 받는 경우 행을 선택함

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [4]:
df.loc['b':'c'] # 인덱스 데이터의 슬라이싱 가능 == df["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [5]:
df["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [6]:
df.loc[["b", "c"]] # 리스트 표현도 가능(이 때는 loc 함수를 쓰지 않는 경우 에러 발생)

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [8]:
df.A>15 # 불리언 시리즈도 행을 선택하는 인덱스로 사용 가능

a    False
b    False
c     True
Name: A, dtype: bool

In [9]:
df.loc[df.A>15]

    A   B   C   D
c  18  19  20  21

In [10]:
def select_rows(df): # 인덱스 대신 인덱스 값을 반환하는 함수를 사용할 수 있음
    return df.A > 15

In [11]:
select_rows(df)

a    False
b    False
c     True
Name: A, dtype: bool

In [12]:
df.loc[select_rows(df)]

    A   B   C   D
c  18  19  20  21

In [13]:
# 라벨 인덱싱이나 라벨 리스트 인덱싱은 불가능함
# df.loc['A'] <- 키 에러
# df.loc[['A', 'B']] <- 키 에러

In [14]:
df2 = pd.DataFrame(np.arange(10,26).reshape(4,4), columns=['A', 'B', 'C', 'D'])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [15]:
df2.loc[1:2] # 원래 인덱스 값이 정수인 경우에는 슬라이싱도 라벨 슬라이싱을 따르게 된다(슬라이스 마지막 값을 포함)

    A   B   C   D
1  14  15  16  17
2  18  19  20  21

In [16]:
# 인덱싱 값을 행과 열 모두 받는 경우 df.loc[행 인덱스, 열 인덱스] 형태로 사용
df.loc['a','A'] # 행 인덱스가 a, 열 인덱스가 A인 경우

10

In [19]:
df.loc['b':,'A'] # 슬라이싱 또는 리스트 사용 가능

b    14
c    18
Name: A, dtype: int32

In [21]:
df.loc['a',:]

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [22]:
df.loc[["a", "b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

In [24]:
df.loc[df.A > 10, ["C", "D"]] # 불리안, 불리언을 반환하는 함수 또한 인덱싱 값으로 사용 가능

    C   D
b  16  17
c  20  21

In [25]:
# iloc 인덱서 <- 라벨이 아니라 순서를 나타내는 정수 인덱스만 받음
df.iloc[0,1]

11

In [26]:
df.iloc[:2,2]

a    12
b    16
Name: C, dtype: int32

In [27]:
df.iloc[0,-2:]

C    12
D    13
Name: a, dtype: int32

In [28]:
df.iloc[-1] # 인덱스가 하나라면 행을 선택함

A    18
B    19
C    20
D    21
Name: c, dtype: int32

In [29]:
df.iloc[-1] = df.iloc[-1]*2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42

In [34]:
"""
연습 문제 4.3.1

1.모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.

2.10가지 이상의 방법으로 특정한 행과 열을 선택한다.

"""

'\n연습 문제 4.3.1\n\n1.모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.\n\n2.10가지 이상의 방법으로 특정한 행과 열을 선택한다.\n\n'

In [38]:
df3 = pd.DataFrame(np.arange(1,26).reshape(5,5), columns=['a', 'b', 'c', 'd', 'e'])
df3

    a   b   c   d   e
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25